@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
        class="btn btn-primary btn-lg home-button">
    <span class="oi oi-home"></span> HOALU
</button>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
